# Node.js dependencies
node_modules/

# PHP dependencies
vendor/

# Archivo de configuración sensible
.env

# Subir el archivo de ejemplo de entorno
!.env.example

# Configuración del servidor web (si no es necesario)
.htaccess

# Archivos de configuración del editor (Visual Studio Code y otros IDEs)
.vscode/
.idea/

# Archivos de logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos del sistema (MacOS, Linux, etc.)
.DS_Store

# Archivos de construcción y distribución
dist/
dist-ssr/
coverage/

# Archivos locales de configuración
*.local

# Cypress (si no usas Cypress en producción)
cypress/videos/
cypress/screenshots/

# Archivos de configuraciones de IDE o proyectos
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de TypeScript
*.tsbuildinfo

# Cache de PHPUnit
.phpunit.result.cache

# Archivos de Docker (solo si tienes ficheros temporales generados)
**/*.log
